.card {
  border-radius: 6px;
  border: 1px solid #d1d1d1;
  padding: 16px;

  &__title {
    font-weight: 600;
    font-size: 24px;
  }

  &__actions {
    margin-top: 16px;
  }
}

.button {
  text-transform: uppercase;
  color: blue;

  &:hover {
    color: hotpink;
  }
}
